# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# ASP.NET Core
wwwroot/node_modules/
wwwroot/lib/

# NuGet
*.nupkg
*.snupkg
.nuget/packages/
.nuget/repository/

# NPM
node_modules/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mac
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~